/*!
 * cliXplit v1.0.0 (http://wonkasoft.com)
 * Copyright 2016 Wonkasoft.com & EpicWin.
 */
 @font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

.vertical-space, 
.nav-item,
.nav-buttons,
.clixplit-panel,
.clixplit-panel-2,
.nav-item.current,
.new-campaigns-menu,
.campaign-item,
.nav-campaign-buttons,
.mymodal,
.mymodal-box,
.hr-width,
#mobile-switch,
.clixplit-switch-off,
.clixplit-switch-center-off,
.clixplit-switch-on,
.clixplit-switch-center-on,
.clixplit-switch-text-off,
.clixplit-switch-text-on,
.btn, .btn-primary,
.empty-form-group,
.clixplit-labels,
.clixplit-pdf-label,
.clixplit-labels,
.vertical-middle,
.clixplit-save-btn,
.clixplit-cancel-btn,
button.clixplit-primary-add,
button.clixplit-secondary-add,
.clixplit-primary-switch-on,
.clixplit-primary-switch-center-on,
.clixplit-primary-switch-text-on,
.clixplit-primary-switch-off,
.clixplit-primary-switch-center-off,
.clixplit-primary-switch-text-off,
.clixplit-secondary-switch-on,
.clixplit-secondary-switch-center-on,
.clixplit-secondary-switch-text-on,
.clixplit-secondary-switch-off,
.clixplit-secondary-switch-center-off,
.clixplit-secondary-switch-text-off,
.box-wrap,
.mb-container,
.clixplit-meta-box-title,
.side-borders,
iframe,
#exit-redirect-alert {
  transition: all .4s ease-in-out;
}

.content-wrap {
  font-family: 'Roboto-Regular' !important;
}

.bottom-space {
  margin-bottom: 15px;
}

.clixplit-clixplit-home-php,
.clixplit-clixplit-tutorials-php,
.clixplit-clixplit-global-campaigns-php,
.clixplit-clixplit-resources-php  {
  background-color: #efefef;
}

.vertical-space {
  margin-top: 25px;
  margin-bottom: 25px;
}

.empty-form-group {
  height: 59px;
}

.logo-grad {
  background: -webkit-radial-gradient(circle, #fff 15%, transparent 30%) !important;
  background: radial-gradient(circle, #fff 15%, transparent 30%) !important;
}

.clixplit-flex {
  display: -webkit-flex;
  -webkit-align-items: flex-start;
  display: flex;
  align-items: flex-start;
}

.vertical-middle {
  -webkit-align-self: center;
  align-self: center;
}

.clixplit-labels,
thead > tr > th,
#modal-form-meta-box label,
#primary-url-campaigns-modal label,
#secondary-url-campaigns-modal label,
#mouseover-url label,
#secondary-url label,
#modal-form-campaigns label,
#modal-form-meta-box-modal label {
  color: rgba(189, 195, 199,1.0);
  cursor: default;
}

.clixplit-pdf-label {
  color: rgba(192, 57, 43,1.0);
  margin-top: -30px;
}

.nav-buttons.current {
  background-color: #ff6102;
}

.nav-item > a.current:after {
  content: " ";
  position: absolute;
  height: 0;
  width: 0;
  border: 16px solid transparent;
  border-bottom-color: #ff6102;
  pointer-events: none;
  bottom: -20px;
  left: 50%;
  margin: 0 -15px;
}

.nav-item {
  margin: 0 14px;
  display: inline-block;
}

.nav-buttons {
  padding: 6px 14px;
  background-color: #ffb502;
  border-radius: 3px;
}

.nav-buttons:hover {
  background-color: #ff8339;
}

.nav-buttons:active {
  background-color: #ff6102;
}

.nav-buttons:focus {
  background-color: #ff6102;
}

.nav-item > a {
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
}

.new-campaigns-menu {
  margin-top: 2em;
}

.campaign-item {
  margin: 0 1em;
  display: inline-block;
}

.nav-campaign-buttons {
  padding: 6px 14px;
  background-color: #39d8cb;
  border-radius: 3px;
}

.nav-campaign-buttons:hover {
  background-color: #02ffa1;
}

.nav-campaign-buttons:active {
  background-color: #009f92;
}

.nav-campaign-buttons:focus {
  background-color: #009f92;
}

.campaign-item > a {
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
}

input.item-checkbox {
  margin: 0;
}

.table-header {
  margin-left: 7px;
  vertical-align: middle;
}

tr > th:first-child,
tr > td:first-child {
  width: 32px;
}

#url-addon {
  border: 1px dashed rgba( 0, 0, 0, .1);
  background-color: #fff;
}

.clixplit-panel:before {
  content: " ";
  display: block;
  height: 8px;
  background-color: #ff6102;
  margin: 0 -15px;
}

.clixplit-panel {
  background-color: #ffffff;
  box-shadow:  0 4px 8px 0 #eaeaea;
  margin: 0 10px 0 -10px;
  min-height: 375px;
}

.clixplit-panel-2:before {
  content: " ";
  display: block;
  height: 8px;
  background-color: #ff6102;
  margin: 0 -15px;
}

.clixplit-panel-2 {
  background-color: #ffffff;
  margin: 0 10px 0 -10px;
  min-height: 375px;
}

iframe {
  width: 100%;
  height: 385px;
}

.mymodal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba( 0, 0, 0, .8);
  opacity: 0;
  height: 0;
  visibility: hidden;
  overflow-y: scroll;
}

.mymodal-box {
  top: 25%;
  left: 20%;
  right: 20%;
  position: absolute;
}

.form-space {
  margin-top: 30px;
  margin-bottom: 25px;
}

.url-input {
 border-radius: 4px !important;
}

button.clixplit-primary-add {
 border-radius: 50% !important;
 margin-left: 14px !important;
 height: 25px;
 width: 25px;
 font-size: 10px;
 background: #36d9a9;
 border: none;
 color: #fff;
}

button.clixplit-primary-add:hover {
  background: #7cdabe;
  border: none;
  color: #fff;
}

button.clixplit-primary-add:active {
  background: #00bd85;
  border: none;
  color: #fff;
}

button.clixplit-primary-add:focus {
  background: #00bd85;
  border: none;
  color: #fff;
}

button.clixplit-primary-add:active:focus {
  background: #00bd85;
  border: none;
  color: #fff;
}

button.clixplit-secondary-add {
 border-radius: 50% !important;
 margin-left: 14px !important;
 height: 25px;
 width: 25px;
 font-size: 10px;
 background: #f09860;
 border: none;
 color: #fff;
}

button.clixplit-secondary-add:hover {
  background: #ff6400;
  border: none;
  color: #fff;
}

button.clixplit-secondary-add:active {
  background: #c74e00;
  border: none;
  color: #fff;
}

button.clixplit-secondary-add:focus {
  background: #c74e00;
  border: none;
  color: #fff;
}

button.clixplit-secondary-add:active:focus {
  background: #c74e00;
  border: none;
  color: #fff;
}

.glyphicon {
  left: -5px;
}

.bottom-form-space {
 margin-bottom: 5px;
}

.hr-width > hr {
 width:35%;
 margin: 8px auto;
}

.clixplit-labels {
  margin: 0 5px;
}

/*primary switches*/
.clixplit-primary-switch-off {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid #36d9a9;
  font-size: 9px;
}

.clixplit-primary-switch-center-off {
  margin: 0;
  padding: 0 5px;
  border-radius: 50%;
  background-color: #36d9a9;
}

.clixplit-primary-switch-text-off {
  color: #36d9a9;
  margin-left: 10px;
  vertical-align: middle;
}

.clixplit-primary-switch-off:hover {
  border-color: #7cdabe;
}

.clixplit-primary-switch-off:hover .clixplit-primary-switch-center-off {
  background-color: #7cdabe;
}

.clixplit-primary-switch-off:hover .clixplit-primary-switch-text-off {
  color: #7cdabe;
}

.clixplit-primary-switch-on {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid #00bd85;
  font-size: 9px;
}

.clixplit-primary-switch-center-on {
  margin: 0;
  padding: 0 5px;
  border-radius: 50%;
  background-color: #00bd85;
}

.clixplit-primary-switch-text-on {
  color: #00bd85;
  margin-left: 10px;
  vertical-align: middle;
}

.clixplit-primary-switch-on:hover {
  border: 3px solid #7cdabe;
}

.clixplit-primary-switch-on:hover .clixplit-primary-switch-center-on {
  background-color: #7cdabe;
}

.clixplit-primary-switch-on:hover .clixplit-primary-switch-text-on {
  color: #7cdabe;
}

/*secondary switches*/
.clixplit-secondary-switch-off {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid #f09860 ;
  font-size: 9px;
}

.clixplit-secondary-switch-center-off {
  margin: 0;
  padding: 0 5px;
  border-radius: 50%;
  background-color: #f09860 ;
}

.clixplit-secondary-switch-text-off {
  color: #f09860 ;
  margin-left: 10px;
  vertical-align: middle;
}

.clixplit-secondary-switch-off:hover {
  border-color: #ff6400 ;
}

.clixplit-secondary-switch-off:hover .clixplit-secondary-switch-center-off {
  background-color: #ff6400 ;
}

.clixplit-secondary-switch-off:hover .clixplit-secondary-switch-text-off {
  color: #ff6400 ;
}

.clixplit-secondary-switch-on {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid #c74e00;
  font-size: 9px;
}

.clixplit-secondary-switch-center-on {
  margin: 0;
  padding: 0 5px;
  border-radius: 50%;
  background-color: #c74e00;
}

.clixplit-secondary-switch-text-on {
  color: #c74e00;
  margin-left: 10px;
  vertical-align: middle;
}

.clixplit-secondary-switch-on:hover {
  border: 3px solid #ff6400 ;
}

.clixplit-secondary-switch-on:hover .clixplit-secondary-switch-center-on {
  background-color: #ff6400 ;
}

.clixplit-secondary-switch-on:hover .clixplit-secondary-switch-text-on {
  color: #ff6400 ;
}

.clixplit-switch-off {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid #b5bfca;
  font-size: 9px;
}

.clixplit-switch-center-off {
  margin: 0;
  padding: 0 5px;
  border-radius: 50%;
  background-color: #b5bfca;
}

.clixplit-switch-text-off {
  color: #b5bfca;
  margin-left: 10px;
  vertical-align: middle;
}

.clixplit-switch-on {
  margin: 0;
  padding: 2px;
  border-radius: 50%;
  border: 3px solid #36d9a9;
  font-size: 9px;
}

.clixplit-switch-center-on {
  margin: 0;
  padding: 0 5px;
  border-radius: 50%;
  background-color: #36d9a9;
}

.clixplit-switch-text-on {
  color: #36d9a9;
  margin-left: 10px;
  vertical-align: middle;
}

.clixplit-switch-off:hover {
  border-color: #d6e0ec;
}

.clixplit-switch-off:hover .clixplit-switch-center-off {
  background: #d6e0ec;
}

.clixplit-switch-off:hover .clixplit-switch-text-off {
  color: #d6e0ec;
}

.clixplit-switch-on:hover {
  border-color: #7cdabe;
}

.clixplit-switch-on:hover .clixplit-switch-center-on {
  background: #7cdabe;
}

.clixplit-switch-on:hover .clixplit-switch-text-on {
  color: #7cdabe;
}

.clixplit-save-btn {
  background: #36d9a9;
  color: #fff;
  border-radius: 0;
  width: 90px;
  margin: 0 8px;
  border: none;
}

.clixplit-save-btn:hover {
  background: #7cdabe;
  color: #fff;
  border: none;
}

.clixplit-save-btn:active {
  background: #7cdabe;
  color: #fff;
  border: none;
}

.clixplit-save-btn:focus {
  background: #7cdabe;
  color: #fff;
  border: none;
}

.clixplit-save-btn:active:focus {
  background: #7cdabe;
  color: #fff;
  border: none;
}

.clixplit-cancel-btn {
  background: #ff6102;
  color: #fff;
  border-radius: 0;
  width: 90px;
  margin: 0 8px;
  border: none;
}

.clixplit-cancel-btn:hover {
  background: #f09860;
  color: #fff;
  border: none;
}

.clixplit-cancel-btn:active {
  background: #df671a;
  color: #fff;
  border: none;
}

.clixplit-cancel-btn:focus {
  background: #df671a;
  color: #fff;
  border: none;
}

.clixplit-cancel-btn:active:focus {
  background: #df671a;
  color: #fff;
  border: none;
}

/*meta-box page*/
.box-wrap {
  position: relative;
}

.mb-container {
  width: 100%;
}

.clixplit-meta-box-title {
  background-color: #f7f7f7;
  text-align: center;
  border: 1px solid #eee;
  padding: 8px 12px;
  width: 104.9%;
  font-size: 14px;
  left: -27px;
  position: relative;
  line-height: 1.4;
}

.side-borders {
  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
}

#exit-redirect-alert {
  border-radius: 4px;
}

@media only screen and (max-width: 784px) {
  .mymodal-box {
    top: 5%;
    left: 0;
    right: 0;
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 605px) {
  .nav-item {
    display: block;
    position: relative;
    margin: 0 -20px;
  }

  .nav-item > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
  }

  .nav-buttons {
    border-radius: 0;
  }

  .nav-item:after {
    content: " ";
    display: block;
    clear: both;
    position: relative;
    height: 33px;
    z-index: -1;
  }

  .nav-item > a.current:after {
   border-right-color: #f9ae81;
   border-bottom-color: transparent;
   bottom: 0px;
   left: 95.3%;
  }
}