/*!
 * cliXplit v1.0.0 (http://wonkasoft.com)
 * Copyright 2016 Wonkasoft.com & EpicWin.
 */
 @font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.ttf');
}

#dialogbox,
#dialogbox-message,
#dialogbox-footer,
#dialog-yes,
#dialog-no {
  transition: all .4s ease-in-out;
}

#dialogbox {
	position:relative;
	display:block;
	width: 450px;
	height: 200px;
	top: 50px;
	left: 25%;
	background: #fff;
	box-shadow: 0 3px 6px 8px #eee;
	border: 1px solid #000;
	border-radius: 6px 6px 6px 6px;

}

#dialogbox-message {
	width: 100%;
	padding: 15px;
}

#dialogbox-footer {
	width: 100%;
	text-align: right;
}

#dialog-yes {
	margin: 0 15px;
	padding: 15px;
	border: 1px solid #000;
}

#dialog-no {
	margin: 0 15px;
	padding: 15px;
	border: 1px solid #000;
}